
@{
    ViewBag.Title = "לא קיים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="color:blue">לצערי לא מצאנו את היחידה/ לקוח אשר הינך מחפש</h2>
    <h4>אנא חפש שוב פעם או בדוק האם הלקוח/ יחידה נמצא במאגר הנתונים</h4>
     @Html.ActionLink("חזרה לרשימת מכשירים", "Index")
</div>

