
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>אין אישור</title>
</head>
<body>
    <div class="container">
           <div style="text-align:center">
               <h1>מצטערים אינך רשום במערכת</h1>
               <h2>בקש מהאחראי את הקוד כניסה או נסה שוב פעם</h2>
         </div>
    </div>
</body>
</html>
