
@{
    ViewBag.Title = "דף הבית";
    Layout = "~/Areas/Clinet/Views/Shared/ClinetLayout.cshtml";
}

<div style="text-align:center">
    <h1>ברוכים הבאים למקום בו תמצאו כל מה שליבכם חפץ <br /> או לפחות בוא נקווה שככה בעזרת השם יהיה....</h1>
    
    <img style="height:150px" src="~/images/SimImg1.jpg"  />
    <h2> הדבר הזה נוצר על מנת שלא תשגעו אותנו אז בבקשה תעשו טיפה מאמץ....</h2>
</div>

