
@{
    ViewBag.Title = "לא מצאנו";
    Layout = "~/Areas/Clinet/Views/Shared/ClinetLayout.cshtml";
}

<h2>לצערי לא מצאנו את המכשיר אשר הינך מחפש</h2>
<h4>אנא חפש שוב פעם או בדוק האם המכשיר נמצא במאגר הנתונים</h4>

<div>
    @Html.ActionLink("חזרה לרשימת מכשירים", "Index")
</div>


