    
@{
    ViewBag.Title = "NutFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue">לצערי לא מצאנו את הנתונים שהינך מחפש</h2>
<h4>אנא חפש עוד פעם או בדוק האם הנתונים קיימים במאגר הנתונים</h4>

<div>
    @Html.ActionLink("חזרה לרשימת כל הנתונים", "Index")
</div>

