
@{
    ViewBag.Title = "האובייקט קיים";
}

<div style="text-align:right ;width:800px">
    <h2 style="color:blue">הנתון אותו אתה מנסה להכניס או לעדכן כבר נמצא במאגר חפש אותו לפי אחד משדות המפתח שלו....</h2>
    @Html.ActionLink("חזרה לשרימת הסימים", "Index")
</div>

