
@{
    ViewBag.Title = "לא קיים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue">לצערי לא מצאנו את הסים אשר הינך מחפש</h2>
<h4>אנא חפש שוב פעם או בדוק האם הסים נמצא במאגר הנתונים</h4>

<div>
    @Html.ActionLink("חזרה לרשימת מכשירים", "Index")
</div>
