
@{
    ViewBag.Title = "לא קיים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>לצערי לא מצאנו את היחידה/ לקוח אשר הינך מחפש</h2>
<h4>אנא חפש שוב פעם או בדוק האם הלקוח/ יחידה נמצא במאגר הנתונים</h4>

<div>
    @Html.ActionLink("חזרה לרשימת מכשירים", "Index")
</div>