
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue">לצערי לא מצאנו את הלקוח שהינך מחפש</h2>
<h4>אנא חפש עוד פעם או בדוק האם הלקוח קיים במאגר הלקוחות</h4>

<div>
    @Html.ActionLink("חזרה לרשימת כל הלקוחות", "Index")
</div>


